# IDE
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.apk
*.aab

# Backend
backend/node_modules/
backend/dist/
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db
